@{
    // View
    View = this;

    // Check action result
    if (itemsList.ActionResult is EmptyResult) { // Terminate page
        return;
    }

    // Layout
    if (!itemsList.UseLayout) // UseLayout = false // DN
        Layout = "";
    else
        Layout = "_Layout";

    // Local variables (Temp data)
    #pragma warning disable 168
    string? sqlWrk, filterWrk, whereWrk, curVal, dispVal;
    List<Dictionary<string, object>>? rswrk;
    string[]? arWrk;
    List<object?>? listWrk;
    object? guidWrk;
    Func<string>? lookupFilter;
    #pragma warning restore 168
}
@if (!itemsList.IsExport()) {
<script>
var currentTable = @Html.Raw(ConvertToJson(itemsList.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { Items: currentTable } });
var currentPageID = ew.PAGE_ID = "list";
var currentForm;
var @(itemsList.FormName);
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("@(itemsList.FormName)")
        .setPageId("list")
        .setSubmitWithFetch(@(itemsList.UseAjaxActions ? "true" : "false"))
        .setFormKeyCountName("@(itemsList.FormKeyCountName)")

        // Add fields
        .setFields([

            ["ItemName", [fields.ItemName.visible && fields.ItemName.required ? ew.Validators.required(fields.ItemName.caption) : null], fields.ItemName.isInvalid],
            ["Qty", [fields.Qty.visible && fields.Qty.required ? ew.Validators.required(fields.Qty.caption) : null, ew.Validators.integer], fields.Qty.isInvalid],
            ["Price", [fields.Price.visible && fields.Price.required ? ew.Validators.required(fields.Price.caption) : null], fields.Price.isInvalid],
            ["Total", [fields.Total.visible && fields.Total.required ? ew.Validators.required(fields.Total.caption) : null, ew.Validators.integer], fields.Total.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Client script
    // Write your client script here, no need to add script tags.
        const flexDiv = $("<div class='d-flex mb-3'></div>");
        const printButton = $("<a></a>", { 
            text: "Back",
            class: "btn btn-default ew-btn me-3", 
            id: "btn-print",
            name: "btn-print",
            href: "/OrdersList",
        });
        flexDiv.append(printButton);
        const buttonsDiv = $("<div class='row ew-buttons'></div>");
        buttonsDiv.append(flexDiv);
        $("main").after(buttonsDiv);
});
</script>
}
@if (!itemsList.IsExport()) {
<div class="btn-toolbar ew-toolbar">
@if (itemsList.TotalRecords > 0 && itemsList.ExportOptions.Visible) {
    itemsList.ExportOptions.Render("body");
}
@if (itemsList.ImportOptions.Visible) {
    itemsList.ImportOptions.Render("body");
}
</div>
}
@if (!itemsList.IsExport() || Config.ExportMasterRecord && itemsList.IsExport("print")) {
if (!Empty(itemsList.DbMasterFilter) && itemsList.CurrentMasterTable == "Orders") {
    if (itemsList.MasterRecordExists) {
        @await Html.PartialAsync("OrdersMaster.cshtml")
    }
}
}
@if (!itemsList.IsModal) {
}
@itemsList.ShowPageHeader()
@itemsList.ShowMessages()
<main class="list @(itemsList.TotalRecords == 0 && !itemsList.IsAdd ? " ew-no-record" : "")">
<div id="ew-list">
@if (itemsList.TotalRecords > 0 || !Empty(itemsList.CurrentAction)) {
<div class="card ew-card ew-grid@(itemsList.IsAddOrEdit ? " ew-grid-add-edit" : "") @(itemsList.TableGridClass)">
<form name="@(itemsList.FormName)" id="@(itemsList.FormName)" class="ew-form ew-list-form" action="@AppPath(itemsList.PageName)" method="post" novalidate autocomplete="off">
@if (CurrentPage.CheckToken) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
@if (itemsList.IsModal) {
<input type="hidden" name="modal" value="1">
}
@if (itemsList.CurrentMasterTable == "Orders" && !Empty(itemsList.CurrentAction)) {
<input type="hidden" name="@(Config.TableShowMaster)" value="Orders">
<input type="hidden" name="fk_ID" value="@(HtmlEncode(itemsList.OrderID.SessionValue))">
}
<div id="gmp_Items" class="card-body ew-grid-middle-panel @(itemsList.TableContainerClass)" style="@(itemsList.TableContainerStyle)">
@if (itemsList.TotalRecords > 0 || itemsList.IsAdd || itemsList.IsCopy || itemsList.IsGridEdit || itemsList.IsMultiEdit) {
<table id="tbl_Itemslist" class="@(itemsList.TableClass)"><!-- .ew-table -->
<thead>
    <tr class="ew-table-header">
@{
    // Header row
    itemsList.RowType = RowType.Header;

    // Render list options
    await itemsList.RenderListOptions();
}
@* Render list options (header, left) *@
@itemsList.ListOptions.RenderHeader("left")
@if (itemsList.ItemName.Visible) { // itemsList.ItemName.Visible (begin)
        <th data-name="ItemName" class="@(itemsList.ItemName.HeaderCellClass)" style="white-space: nowrap;"><div id="elh_Items_ItemName" class="Items_ItemName">@Html.Raw(itemsList.RenderFieldHeader(itemsList.ItemName))</div></th>
} @* itemsList.ItemName.Visible (end) *@
@if (itemsList.Qty.Visible) { // itemsList.Qty.Visible (begin)
        <th data-name="Qty" class="@(itemsList.Qty.HeaderCellClass)" style="white-space: nowrap;"><div id="elh_Items_Qty" class="Items_Qty">@Html.Raw(itemsList.RenderFieldHeader(itemsList.Qty))</div></th>
} @* itemsList.Qty.Visible (end) *@
@if (itemsList.Price.Visible) { // itemsList.Price.Visible (begin)
        <th data-name="Price" class="@(itemsList.Price.HeaderCellClass)" style="white-space: nowrap;"><div id="elh_Items_Price" class="Items_Price">@Html.Raw(itemsList.RenderFieldHeader(itemsList.Price))</div></th>
} @* itemsList.Price.Visible (end) *@
@if (itemsList.Total.Visible) { // itemsList.Total.Visible (begin)
        <th data-name="Total" class="@(itemsList.Total.HeaderCellClass)" style="white-space: nowrap;"><div id="elh_Items_Total" class="Items_Total">@Html.Raw(itemsList.RenderFieldHeader(itemsList.Total))</div></th>
} @* itemsList.Total.Visible (end) *@
@* Render list options (header, right) *@
@itemsList.ListOptions.RenderHeader("right")
    </tr>
</thead>
<tbody data-page="@(itemsList.PageNumber)">
@{
    await itemsList.SetupGrid();
    bool eof = itemsList.Recordset == null; // DN
}
@while (itemsList.RecordCount < itemsList.StopRecord || SameString(itemsList.RowIndex, "$rowindex$")) { // Begin While
    if (!eof && !SameString(itemsList.RowIndex, "$rowindex$") &&
        (!itemsList.IsGridAdd || itemsList.CurrentMode == "copy") &&
        (!((itemsList.IsCopy || itemsList.IsAdd) && itemsList.RowIndex is int rowIndex && rowIndex == 0))) // DN
        eof = !await itemsList.Recordset.ReadAsync();
    itemsList.RecordCount++;
    if (itemsList.RecordCount >= itemsList.StartRecord) {
        await itemsList.SetupRow();
    <tr @Html.Raw(itemsList.RowAttributes)>
    @* Render list options (body, left) *@
    @itemsList.ListOptions.RenderBody("left", itemsList.RowCount)
    @if (itemsList.ItemName.Visible) { // itemsList.ItemName.Visible (begin)
        <td data-name="ItemName" @Html.Raw(itemsList.ItemName.CellAttributes)>
@if (itemsList.RowType == RowType.Add) { // Add (begin)
    @* ItemName (begin) *@
    <span id="el@(itemsList.RowIndex == "$rowindex$" ? "$rowindex$" : itemsList.RowCount)_Items_ItemName" class="el_Items_ItemName">
    <input type="@(itemsList.ItemName.InputTextType)" name="x@(itemsList.RowIndex)_ItemName" id="x@(itemsList.RowIndex)_ItemName" data-table="Items" data-field="x_ItemName" value="@Html.Raw(itemsList.ItemName.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(itemsList.ItemName.PlaceHolder))" data-format-pattern="@(itemsList.ItemName.FormatPattern)"@Html.Raw(itemsList.ItemName.EditAttributes)>
    <div class="invalid-feedback">@Html.Raw(itemsList.ItemName.GetErrorMessage())</div>
    </span>
    <input type="hidden" data-table="Items" data-field="x_ItemName" data-hidden="1" data-old name="o@(itemsList.RowIndex)_ItemName" id="o@(itemsList.RowIndex)_ItemName" value="@Html.Raw(HtmlEncode(itemsList.ItemName.OldValue))">
    @* ItemName (end) *@
} @* Add (end) *@
@if (itemsList.RowType == RowType.Edit) { // Edit (begin)
    @* ItemName (begin) *@
    <span id="el@(itemsList.RowIndex == "$rowindex$" ? "$rowindex$" : itemsList.RowCount)_Items_ItemName" class="el_Items_ItemName">
    <input type="@(itemsList.ItemName.InputTextType)" name="x@(itemsList.RowIndex)_ItemName" id="x@(itemsList.RowIndex)_ItemName" data-table="Items" data-field="x_ItemName" value="@Html.Raw(itemsList.ItemName.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(itemsList.ItemName.PlaceHolder))" data-format-pattern="@(itemsList.ItemName.FormatPattern)"@Html.Raw(itemsList.ItemName.EditAttributes)>
    <div class="invalid-feedback">@Html.Raw(itemsList.ItemName.GetErrorMessage())</div>
    </span>
    @* ItemName (end) *@
} @* Edit (end) *@
@if (itemsList.RowType == RowType.View) { // View (begin)
    @* ItemName (begin) *@
    <span id="el@(itemsList.RowIndex == "$rowindex$" ? "$rowindex$" : itemsList.RowCount)_Items_ItemName" class="el_Items_ItemName">
    <span @Html.Raw(itemsList.ItemName.ViewAttributes)>
    @Html.Raw(itemsList.ItemName.GetViewValue())</span>
    </span>
    @* ItemName (end) *@
} @* View (end) *@
</td>
    } @* itemsList.ItemName.Visible (end) *@
    @if (itemsList.Qty.Visible) { // itemsList.Qty.Visible (begin)
        <td data-name="Qty" @Html.Raw(itemsList.Qty.CellAttributes)>
@if (itemsList.RowType == RowType.Add) { // Add (begin)
    @* Qty (begin) *@
    <span id="el@(itemsList.RowIndex == "$rowindex$" ? "$rowindex$" : itemsList.RowCount)_Items_Qty" class="el_Items_Qty">
    <input type="@(itemsList.Qty.InputTextType)" name="x@(itemsList.RowIndex)_Qty" id="x@(itemsList.RowIndex)_Qty" data-table="Items" data-field="x_Qty" value="@Html.Raw(itemsList.Qty.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(itemsList.Qty.PlaceHolder))" data-format-pattern="@(itemsList.Qty.FormatPattern)"@Html.Raw(itemsList.Qty.EditAttributes)>
    <div class="invalid-feedback">@Html.Raw(itemsList.Qty.GetErrorMessage())</div>
    </span>
    <input type="hidden" data-table="Items" data-field="x_Qty" data-hidden="1" data-old name="o@(itemsList.RowIndex)_Qty" id="o@(itemsList.RowIndex)_Qty" value="@Html.Raw(HtmlEncode(itemsList.Qty.OldValue))">
    @* Qty (end) *@
} @* Add (end) *@
@if (itemsList.RowType == RowType.Edit) { // Edit (begin)
    @* Qty (begin) *@
    <span id="el@(itemsList.RowIndex == "$rowindex$" ? "$rowindex$" : itemsList.RowCount)_Items_Qty" class="el_Items_Qty">
    <input type="@(itemsList.Qty.InputTextType)" name="x@(itemsList.RowIndex)_Qty" id="x@(itemsList.RowIndex)_Qty" data-table="Items" data-field="x_Qty" value="@Html.Raw(itemsList.Qty.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(itemsList.Qty.PlaceHolder))" data-format-pattern="@(itemsList.Qty.FormatPattern)"@Html.Raw(itemsList.Qty.EditAttributes)>
    <div class="invalid-feedback">@Html.Raw(itemsList.Qty.GetErrorMessage())</div>
    </span>
    @* Qty (end) *@
} @* Edit (end) *@
@if (itemsList.RowType == RowType.View) { // View (begin)
    @* Qty (begin) *@
    <span id="el@(itemsList.RowIndex == "$rowindex$" ? "$rowindex$" : itemsList.RowCount)_Items_Qty" class="el_Items_Qty">
    <span @Html.Raw(itemsList.Qty.ViewAttributes)>
    @Html.Raw(itemsList.Qty.GetViewValue())</span>
    </span>
    @* Qty (end) *@
} @* View (end) *@
</td>
    } @* itemsList.Qty.Visible (end) *@
    @if (itemsList.Price.Visible) { // itemsList.Price.Visible (begin)
        <td data-name="Price" @Html.Raw(itemsList.Price.CellAttributes)>
@if (itemsList.RowType == RowType.Add) { // Add (begin)
    @* Price (begin) *@
    <span id="el@(itemsList.RowIndex == "$rowindex$" ? "$rowindex$" : itemsList.RowCount)_Items_Price" class="el_Items_Price">
    <input type="@(itemsList.Price.InputTextType)" name="x@(itemsList.RowIndex)_Price" id="x@(itemsList.RowIndex)_Price" data-table="Items" data-field="x_Price" value="@Html.Raw(itemsList.Price.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(itemsList.Price.PlaceHolder))" data-format-pattern="@(itemsList.Price.FormatPattern)"@Html.Raw(itemsList.Price.EditAttributes)>
    <div class="invalid-feedback">@Html.Raw(itemsList.Price.GetErrorMessage())</div>
    </span>
    <input type="hidden" data-table="Items" data-field="x_Price" data-hidden="1" data-old name="o@(itemsList.RowIndex)_Price" id="o@(itemsList.RowIndex)_Price" value="@Html.Raw(HtmlEncode(itemsList.Price.OldValue))">
    @* Price (end) *@
} @* Add (end) *@
@if (itemsList.RowType == RowType.Edit) { // Edit (begin)
    @* Price (begin) *@
    <span id="el@(itemsList.RowIndex == "$rowindex$" ? "$rowindex$" : itemsList.RowCount)_Items_Price" class="el_Items_Price">
    <input type="@(itemsList.Price.InputTextType)" name="x@(itemsList.RowIndex)_Price" id="x@(itemsList.RowIndex)_Price" data-table="Items" data-field="x_Price" value="@Html.Raw(itemsList.Price.EditValue)" size="30" maxlength="50" placeholder="@Html.Raw(HtmlEncode(itemsList.Price.PlaceHolder))" data-format-pattern="@(itemsList.Price.FormatPattern)"@Html.Raw(itemsList.Price.EditAttributes)>
    <div class="invalid-feedback">@Html.Raw(itemsList.Price.GetErrorMessage())</div>
    </span>
    @* Price (end) *@
} @* Edit (end) *@
@if (itemsList.RowType == RowType.View) { // View (begin)
    @* Price (begin) *@
    <span id="el@(itemsList.RowIndex == "$rowindex$" ? "$rowindex$" : itemsList.RowCount)_Items_Price" class="el_Items_Price">
    <span @Html.Raw(itemsList.Price.ViewAttributes)>
    @Html.Raw(itemsList.Price.GetViewValue())</span>
    </span>
    @* Price (end) *@
} @* View (end) *@
</td>
    } @* itemsList.Price.Visible (end) *@
    @if (itemsList.Total.Visible) { // itemsList.Total.Visible (begin)
        <td data-name="Total" @Html.Raw(itemsList.Total.CellAttributes)>
@if (itemsList.RowType == RowType.Add) { // Add (begin)
    @* Total (begin) *@
    <span id="el@(itemsList.RowIndex == "$rowindex$" ? "$rowindex$" : itemsList.RowCount)_Items_Total" class="el_Items_Total">
    <input type="@(itemsList.Total.InputTextType)" name="x@(itemsList.RowIndex)_Total" id="x@(itemsList.RowIndex)_Total" data-table="Items" data-field="x_Total" value="@Html.Raw(itemsList.Total.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(itemsList.Total.PlaceHolder))" data-format-pattern="@(itemsList.Total.FormatPattern)"@Html.Raw(itemsList.Total.EditAttributes)>
    <div class="invalid-feedback">@Html.Raw(itemsList.Total.GetErrorMessage())</div>
    </span>
    <input type="hidden" data-table="Items" data-field="x_Total" data-hidden="1" data-old name="o@(itemsList.RowIndex)_Total" id="o@(itemsList.RowIndex)_Total" value="@Html.Raw(HtmlEncode(itemsList.Total.OldValue))">
    @* Total (end) *@
} @* Add (end) *@
@if (itemsList.RowType == RowType.Edit) { // Edit (begin)
    @* Total (begin) *@
    <span id="el@(itemsList.RowIndex == "$rowindex$" ? "$rowindex$" : itemsList.RowCount)_Items_Total" class="el_Items_Total">
    <input type="@(itemsList.Total.InputTextType)" name="x@(itemsList.RowIndex)_Total" id="x@(itemsList.RowIndex)_Total" data-table="Items" data-field="x_Total" value="@Html.Raw(itemsList.Total.EditValue)" size="30" placeholder="@Html.Raw(HtmlEncode(itemsList.Total.PlaceHolder))" data-format-pattern="@(itemsList.Total.FormatPattern)"@Html.Raw(itemsList.Total.EditAttributes)>
    <div class="invalid-feedback">@Html.Raw(itemsList.Total.GetErrorMessage())</div>
    </span>
    @* Total (end) *@
} @* Edit (end) *@
@if (itemsList.RowType == RowType.View) { // View (begin)
    @* Total (begin) *@
    <span id="el@(itemsList.RowIndex == "$rowindex$" ? "$rowindex$" : itemsList.RowCount)_Items_Total" class="el_Items_Total">
    <span @Html.Raw(itemsList.Total.ViewAttributes)>
    @Html.Raw(itemsList.Total.GetViewValue())</span>
    </span>
    @* Total (end) *@
} @* View (end) *@
</td>
    } @* itemsList.Total.Visible (end) *@
    @* Render list options (body, right) *@
    @itemsList.ListOptions.RenderBody("right", itemsList.RowCount)
    </tr>
if (itemsList.RowType == RowType.Add || itemsList.RowType == RowType.Edit) {
<script>
loadjs.ready(["@(itemsList.FormName)","load"], () => @(itemsList.FormName).updateLists(@(itemsList.RowIndex)@(itemsList.IsAdd || itemsList.IsEdit || itemsList.IsCopy || SameString(itemsList.RowIndex, "$rowindex$") ? ", true" : "")));
</script>
}
    } @* End if *@

    // Reset for template row
    if (SameString(itemsList.RowIndex, "$rowindex$"))
        itemsList.RowIndex = 0;

    // Reset inline add/copy row
    if ((itemsList.IsCopy || itemsList.IsAdd) && itemsList.RowIndex is int rowIndex2 && rowIndex2 == 0)
        itemsList.RowIndex = 1;
} @* End While *@
</tbody>
@{
// Render aggregate row
    itemsList.RowType = RowType.Aggregate;
    itemsList.ResetAttributes();
    await itemsList.RenderRow();
}
@if (itemsList.TotalRecords > 0 && !itemsList.IsGridAdd && !itemsList.IsGridEdit && !itemsList.IsMultiEdit) {
<tfoot><!-- Table footer -->
    <tr class="ew-table-footer">
@{
    // Render list options
    await itemsList.RenderListOptions();
}
@* Render list options (footer, left) *@
@itemsList.ListOptions.RenderFooter("left")
    @if (itemsList.ItemName.Visible) { @* itemsList.ItemName.Visible (begin) *@
        <td data-name="ItemName" class="@Html.Raw(itemsList.ItemName.FooterCellClass)"><span id="elf_Items_ItemName" class="Items_ItemName">
        &nbsp;
        </span></td>
    } @* itemsList.ItemName.Visible (end) *@
    @if (itemsList.Qty.Visible) { @* itemsList.Qty.Visible (begin) *@
        <td data-name="Qty" class="@Html.Raw(itemsList.Qty.FooterCellClass)"><span id="elf_Items_Qty" class="Items_Qty">
        <span class="ew-aggregate">@Html.Raw(Language.Phrase("TOTAL"))</span><span class="ew-aggregate-value">
        @Html.Raw(itemsList.Qty.ViewValue)</span>
        </span></td>
    } @* itemsList.Qty.Visible (end) *@
    @if (itemsList.Price.Visible) { @* itemsList.Price.Visible (begin) *@
        <td data-name="Price" class="@Html.Raw(itemsList.Price.FooterCellClass)"><span id="elf_Items_Price" class="Items_Price">
        &nbsp;
        </span></td>
    } @* itemsList.Price.Visible (end) *@
    @if (itemsList.Total.Visible) { @* itemsList.Total.Visible (begin) *@
        <td data-name="Total" class="@Html.Raw(itemsList.Total.FooterCellClass)"><span id="elf_Items_Total" class="Items_Total">
        <span class="ew-aggregate">@Html.Raw(Language.Phrase("TOTAL"))</span><span class="ew-aggregate-value">
        @Html.Raw(itemsList.Total.ViewValue)</span>
        </span></td>
    } @* itemsList.Total.Visible (end) *@
@* Render list options (footer, right) *@
@itemsList.ListOptions.RenderFooter("right")
    </tr>
</tfoot>
}
</table><!-- /.ew-table -->
} @* End If TotalRecords > 0 *@
@if (itemsList.IsAdd || itemsList.IsCopy) {
<input type="hidden" name="@(itemsList.FormKeyCountName)" id="@(itemsList.FormKeyCountName)" value="@(itemsList.KeyCount)">
<input type="hidden" name="@(itemsList.OldKeyName)" value="@Html.Raw(itemsList.OldKey)">
}
@if (itemsList.IsEdit) {
<input type="hidden" name="@(itemsList.FormKeyCountName)" id="@(itemsList.FormKeyCountName)" value="@(itemsList.KeyCount)">
}
</div><!-- /.ew-grid-middle-panel -->
@if (Empty(itemsList.CurrentAction) && !itemsList.UseAjaxActions) {
<input type="hidden" name="action" id="action" value="">
}
</form><!-- /.ew-list-form -->
@{ itemsList.CloseRecordset(); }
@if (!itemsList.IsExport()) {
<div class="card-footer ew-grid-lower-panel">
@if (!itemsList.IsGridAdd && !(itemsList.IsGridEdit && itemsList.ModalGridEdit) && !itemsList.IsMultiEdit) {
@Html.Raw(itemsList.Pager.Render())
}
<div class="ew-list-other-options">
@itemsList.OtherOptions.RenderBody("bottom")
</div>
</div>
}
</div><!-- /.ew-grid -->
} else { // Show other options
<div class="ew-list-other-options">
@itemsList.OtherOptions.ForEach(opt => opt.ButtonClass = "").RenderBody()
</div>
}
</div>
</main>
@itemsList.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
@if (!itemsList.IsExport()) {
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("Items");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
}
